doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="/styles/myanmar.css")
  body
    img(src=entry.scan_file)
    .form
      h4 ကိုယ်စားလှယ်လောင်း၏အမည်
      span= entry.full_name
      h4 မှတ်ပုံတင်အမှတ်
      span= entry.national_id
      span &nbsp;(
      span= entry.norm_national_id
      span )

      for key in Object.keys(entry)
        strong= key
        br
        span= entry[key]
        br
